<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Sidebar  -->
<nav th:fragment="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>Bảo tàng Bắc Ninh</h3>
    </div>

    <ul class="list-unstyled components">
        <!--      <p>Dummy Heading</p>-->
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a th:href="@{/admin/show(category = Tin_Noi_Bat)}">Tin nổi bật</a>

                </li>
                <li>
                    <a th:href="@{/admin/show(category=Su_Kien_Sap_Dien_Ra)}">Sự kiện sắp diễn ra</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>

</body>
</html>